<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body {
       background-color: bisque;
        text-align: center;
    }
    h2 {
        font-weight: normal;
    }
    h3 {
        font-weight: normal;
        font-size: 16px;
        margin-top: -10px;
    }
    .title {
        font-size: 50px;
    }
</style>
<body>
    <h1 class="title" th:if="!${visitor}">This is my CV</h1>
    <h1 class="title" th:if="${visitor}" th:text="'Hello, ' + ${visitor} + '!'"/></h1>
    <h1 class="title" th:if="${visitor}" th:text="${visitor} + ' I hope you interested to hire me!'"/></h1>

    <h1>Basic Information</h1>
    <h2>Name: William Rumanta</h2>
    <h2>Birthdate and Place: Tangerang, 13 Juli 1998</h2>
    <h2>Address: Jalan kutek raya</h2>
    <br /> <br />

    <h1>Education History</h1>
    <h2>Universitas Indonesia</h2>
    <h3>2016 - 2020</h3>
    <h2>SMA Anderson School</h2>
    <h3>2013 - 2016</h3>
</body>
</html>
